@import "tailwindcss";
@import "@heroui/styles"; 

:root {
  

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cardTitle {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cardTitle::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1.5rem;
  background-color: #ef4444;
  border-radius: 2px;
}

.cardSubtitle {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

